body {
	background-color: black; 
	color: white; 
  font-family: "Courier"; 
}


nav {
  min-width: 100% !important; 
}
/*
nav {
  float: right; 
  font-size: 1vw; 
}
*/

#wrap {
  min-height: 86%; 
  position: relative !important; 
}

td {
  padding: none; 
}

.navbar-nav > li{
  padding-left:15px;
  padding-right:15px;
}

table tr td {
  border-width:0 !important;
}

.table td {
  padding: 0.2rem !important; 
}

.table {
  width: 90% !important; 
}

.calendar {
  position: relative;
  overflow: hidden;
  padding-top: 75%; 
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}