body {
	background-color: black; 
	color: white; 
  font-family: "Courier"; 
}

nav {
  float: right; 
}

#wrap {
  min-height: 90%; 
  position: relative !important; 
}

.navbar-nav > li{
  padding-left:15px;
  padding-right:15px;
}


